body {
  font-family: monospace;
  background-color:#6196db;
  margin:0;
}
h1{
    background-color:#0066FF;
    margin:0;
    color:white;
    text-align:center;
    height:70px;
    line-height:70px;
    border-bottom:1px white solid;
}
.btn{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:30px;
}
#home,#home1,#home2,#home_box{
    height:70px;
    cursor:pointer; 
}
#main-page{
    display:flex;
    flex-direction:row;  
    justify-content:center;   
}
#main_pic{
    margin-top:30px;
    height:400px;
}
#boxbtn{
    margin-top:170px;
    height:150px;
}
#TEM,#CO2,#IMG{
    display:flex;
    flex-direction:row;
    cursor:pointer;    
    height:150px;   
}
#nodataAlert{
    color:red;
    font-size:18pt;
    text-align:center;
    align-items:center;
    justify-content:center;
}
#chart{
    margin-left: auto;
    margin-right: auto;
    max-width:65%;
    max-height:50%;
}
#mapid{
    display:flex;  
    align-items:center;
    justify-content:center;   
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width:70%;
    max-height:70%;
    }
.imgblock{
    display:flex;  
    align-items:center;
    justify-content:center;   
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    max-width:70%;
    max-height:70%;
    
}
#mainpic{
   width: 400px;
   height: 300px;
   
}
.imgdatablock{
    display:flex;
    flex-direction:column;  
    justify-content:center;   
}
.imgdata{
    display:flex;
}

selectitem
{
    display:flex;  
    align-items:center;
    justify-content:center;
}
#box_table{
}
#table_div{
    display:flex;  
    align-items:center;
    justify-content:center;   
    font-size:15pt;
    color:white;
    margin-top:30px;
}
    
.inactive {
  display: none !important;
}
