<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sensingbox">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- qr code -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.location.gps" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Sensing_box"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register"></activity>
        <activity android:name=".edit_sensor" /> 
        <activity android:name=".add_edit_sensor" />
        <activity android:name=".add_sensor" />
        <activity
            android:name=".qr_code_scanner"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_info"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Uploading"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Select_Bluetooth"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main_screen"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".upload_failed"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".upload_success"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sensor_select"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".About"
        android:label="@string/Sensing_box"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".firebase_upload"
            android:label="@string/Sensing_box"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>